<app-navbar></app-navbar>   
  <button [routerLink]="['/cart']"  class="btn btn-primary">
    <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
    <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
</button>


  

<div class="container">
  <div class="row">
      <ng-container *ngFor="let item of productList  ">
          <div class="card col-md-3">
              <img src="{{item.image}}" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
              <p><strong>Price:</strong> ${{item.price}}</p>
              <button class="btn btn-primary" (click)=addToCart(item)>Add to cart</button>
          </div>
      </ng-container>

  </div>
</div>

<app-footer></app-footer>