<body class="body">

  <div class="card">


    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>

      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>
      <form [formGroup]="myform" (ngSubmit)="SendMessage()">
        <div class="form-group input-group">

          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="gender" class="form-control" placeholder=" name" type="text" formControlName="gender">
        </div>
        <div *ngIf="gender?.invalid && gender?.touched">
          <small *ngIf="gender?.errors?.['required']" class="text-danger">name is required<br></small>
        </div>

        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          <input name="content" class="form-control" placeholder="content" type="text" formControlName="content">
        </div>

        <!-- form-group// -->
        <div *ngIf="email?.invalid && email?.touched">
          <small *ngIf="email?.errors?.['required']" class="text-danger">Email is required<br></small>
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input name="" class="form-control" placeholder="Email address" type="email" formControlName="email">
        </div>
        <div *ngIf="email?.invalid && email?.touched">
          <small *ngIf="email?.errors?.['required']" class="text-danger">Email is required<br></small>
          <small *ngIf="email?.errors?.['email']" class="text-danger"> invalid Email<br></small>
        </div> <!-- form-group// -->

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>

          <input name="message" class="form-control" placeholder="Phone number" type="text" formControlName="message">
        </div> <!-- form-group// -->
        <div *ngIf="message?.invalid && message?.touched">
          <small *ngIf="message?.errors?.['required']" class="text-danger">message is requied<br></small>
           
        </div>

   

         roup// -->

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
        </div> <!-- form-group// -->
        <p class="text-center">Have an account? <a routerLink="/login">Log In</a> </p>
      </form>
    </article>
  </div> <!-- card.// -->


  <!--container end.//-->


  <article class="mb-3">


    <br><br>
  </article>
  <app-footer></app-footer>

</body>